@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.type::after {
    content: '█';
}

.hoverable:hover::after {
    content: '█';
}

@font-face {
    font-family: 'Chicago Plain';
    font-style: normal;
    font-weight: normal;
    src: local('Chicago Plain'), url('./assets/fonts/Chicago.woff') format('woff');
}

@font-face {
    font-family: 'Geneva';
    font-style: normal;
    font-weight: normal;
    src: local('Geneva'), url('./assets/fonts/Geneva.woff') format('woff');
}