@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

/* .type::after {
    content: '|';
} */

.hoverable:hover::after {
    content: '|';
    /* animation: cursor 1.1s infinite step-end; */
}

@keyframes cursor {
    50% {
      opacity: 0;
    }
}

@font-face {
    font-family: 'Chicago Plain';
    font-style: normal;
    font-weight: normal;
    src: local('Chicago Plain'), url('./assets/fonts/Chicago.woff') format('woff');
}

@font-face {
    font-family: 'Geneva';
    font-style: normal;
    font-weight: normal;
    src: local('Geneva'), url('./assets/fonts/Geneva.woff') format('woff');
}